# To Start!

We first import the packages that we will be using. 

We need pandas to work on our data, matplotlib pyplot for visualizations, numpy for array calculations, and finally networkx for all our graph networks.

In [1]:
import networkx as nx
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

Next, we grab the static gtfs rail text files and read them into dataframes.

In [38]:
trips = pd.read_csv('../Boston_MBTA_Data/trips.txt')
stops = pd.read_csv('../Boston_MBTA_Data/stops.txt')
lines = pd.read_csv('../Boston_MBTA_Data/lines.txt')
routes = pd.read_csv('../Boston_MBTA_Data/routes.txt')
stop_times = pd.read_csv('../Boston_MBTA_Data/stop_times.txt')
stop_time_updates = pd.read_csv('../mbta_data/stop_time_updates.csv')

C:\Users\bowen\AppData\Local\Temp\ipykernel_17244\1795185504.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  trips = pd.read_csv('../Boston_MBTA_Data/trips.txt')
C:\Users\bowen\AppData\Local\Temp\ipykernel_17244\1795185504.py:5: DtypeWarning: Columns (0,3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  stop_times = pd.read_csv('../Boston_MBTA_Data/stop_times.txt')

Let us see what we have. We check which stops are using vehicle type 1 (subway).

In [3]:
routes

,route_id,agency_id,route_short_name,route_long_name,route_desc,route_type,route_url,route_color,route_text_color,route_sort_order,route_fare_class,line_id,listed_route,network_id
0,Red,1,NaN,Red Line,Rapid Transit,1,https://www.mbta.com/schedules/Red,DA291C,FFFFFF,10010,Rapid Transit,line-Red,NaN,rapid_transit
1,Mattapan,1,NaN,Mattapan Trolley,Rapid Transit,0,https://www.mbta.com/schedules/Mattapan,DA291C,FFFFFF,10011,Rapid Transit,line-Mattapan,NaN,m_rapid_transit
2,Orange,1,NaN,Orange Line,Rapid Transit,1,https://www.mbta.com/schedules/Orange,ED8B00,FFFFFF,10020,Rapid Transit,line-Orange,NaN,rapid_transit
3,Green-B,1,B,Green Line B,Rapid Transit,0,https://www.mbta.com/schedules/Green-B,00843D,FFFFFF,10032,Rapid Transit,line-Green,NaN,rapid_transit
4,Green-C,1,C,Green Line C,Rapid Transit,0,https://www.mbta.com/schedules/Green-C,00843D,FFFFFF,10033,Rapid Transit,line-Green,NaN,rapid_transit
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,Shuttle-JFKPark,1,Red Line Shuttle,JFK/UMass - Park Street,Rail Replacement Bus,3,NaN,FFC72C,000000,61997,Free,line-Red,1.0,rail_replacement_bus
217,Shuttle-LynnSwampscott,1,Newburyport/Rockport Line Shuttle,Lynn - Swampscott,Rail Replacement Bus,3,NaN,FFC72C,000000,62053,Free,line-Newburyport,1.0,rail_replacement_bus
218,Shuttle-NorthStationOakGrove,1,Orange Line Shuttle,Oak Grove - North Station,Rail Replacement Bus,3,NaN,FFC72C,000000,62150,Free,line-Orange,1.0,rail_replacement_bus
219,Shuttle-OakGroveReading,1,Haverhill Line Shuttle,Reading - Oak Grove,Rail Replacement Bus,3,NaN,FFC72C,000000,62170,Free,line-Haverhill,1.0,rail_replacement_bus
220,Shuttle-OakGroveWellingtonViaMaldenEast,1,Orange Line Shuttle,Oak Grove - Wellington via Malden Center,Rail Replacement Bus,3,NaN,FFC72C,000000,62305,Free,line-Orange,1.0,rail_replacement_bus

In [4]:
stops[stops["vehicle_type"] == 1]

,stop_id,stop_code,stop_name,stop_desc,platform_code,platform_name,stop_lat,stop_lon,zone_id,stop_address,stop_url,level_id,location_type,parent_station,wheelchair_boarding,municipality,on_street,at_street,vehicle_type
7236,70061,70061.0,Alewife,Alewife - Red Line,NaN,Red Line,42.396158,-71.139971,RapidTransit,NaN,https://www.mbta.com/stops/place-alfcl,level_-2_platform,0,place-alfcl,1,Cambridge,NaN,NaN,1.0
7238,Alewife-01,NaN,Alewife,Alewife - Red Line - Track 1,1,Track 1,42.396158,-71.139971,RapidTransit,NaN,https://www.mbta.com/stops/place-alfcl,level_-2_platform,0,place-alfcl,1,Cambridge,NaN,NaN,1.0
7239,Alewife-02,NaN,Alewife,Alewife - Red Line - Track 2,2,Track 2,42.396158,-71.139971,RapidTransit,NaN,https://www.mbta.com/stops/place-alfcl,level_-2_platform,0,place-alfcl,1,Cambridge,NaN,NaN,1.0
7258,70083,70083.0,Andrew,Andrew - Red Line - Ashmont/Braintree,1,Ashmont/Braintree,42.330154,-71.057655,RapidTransit,NaN,https://www.mbta.com/stops/place-andrw,level_-2_platform,0,place-andrw,1,Boston,NaN,NaN,1.0
7259,70084,70084.0,Andrew,Andrew - Red Line - Alewife,2,Alewife,42.330154,-71.057655,RapidTransit,NaN,https://www.mbta.com/stops/place-andrw,level_-2_platform,0,place-andrw,1,Boston,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9550,70050,70050.0,Wood Island,Wood Island - Blue Line - Wonderland,2,Wonderland,42.379671,-71.022783,RapidTransit,NaN,https://www.mbta.com/stops/place-wimnl,level_0_platform,0,place-wimnl,1,Boston,NaN,NaN,1.0
9577,70099,70099.0,Wollaston,Wollaston - Red Line - Braintree,NaN,Braintree,42.266762,-71.020542,RapidTransit,NaN,https://www.mbta.com/stops/place-wlsta,level_1_platform,0,place-wlsta,1,Quincy,NaN,NaN,1.0
9578,70100,70100.0,Wollaston,Wollaston - Red Line - Alewife,NaN,Alewife,42.266788,-71.020457,RapidTransit,NaN,https://www.mbta.com/stops/place-wlsta,level_1_platform,0,place-wlsta,1,Quincy,NaN,NaN,1.0
9619,70059,70059.0,Wonderland,Wonderland - Blue Line - Bowdoin,1,Bowdoin,42.413514,-70.991714,RapidTransit,NaN,https://www.mbta.com/stops/place-wondl,level_0_platform,0,place-wondl,1,Revere,NaN,NaN,1.0
9620,70060,70060.0,Wonderland,Wonderland - Blue Line - Exit Only,2,Exit Only,42.413361,-70.991685,RapidTransit,NaN,https://www.mbta.com/stops/place-wondl,level_0_platform,0,place-wondl,1,Revere,NaN,NaN,1.0

Ok so now we only have the semi-metro and the subway lines.

In [44]:
stop_time_updates[stop_time_updates['stop_id'] == "70095"]

                trip_id stop_id  stop_sequence   arrival departure
11517          59095833   70095            120  19:09:04  19:10:42
12331  ADDED-1581694455   70095            120  18:29:34  18:31:12
17404          59095832   70095            120  18:54:07  18:55:45
20892          59095835   70095            120  19:45:04  19:46:42
32011          59095834   70095            120  19:27:04  19:28:42

In [48]:
# late count

stop_time_updates.groupby("stop_id").count()

            trip_id  stop_sequence  arrival  departure
stop_id
1                26             26       23         23
10                8              8        7          7
10000             4              4        2          2
10003            14             14       11         11
10005            13             13       12         12
...             ...            ...      ...        ...
WR-0205-02        1              1        1          1
WR-0228-02        1              1        1          1
WR-0264-02        1              1        1          1
WR-0325-01        1              1        1          1
WR-0329-01        1              1        1          0

[6977 rows x 4 columns]

# Cleaning the Data

Ok, so we really need to clean this data up. We remove all stops that are not part of the boston mbta rail lines (ie fake stop data) and we only want the main stop for each station.

In [5]:
# desired vehicle types 0 and 1
my_list = [0,1]

mbta_stops = stops.loc[stops["vehicle_type"].isin(my_list)]

mbta_stops.groupby("vehicle_type").count()

,stop_id,stop_code,stop_name,stop_desc,platform_code,platform_name,stop_lat,stop_lon,zone_id,stop_address,stop_url,level_id,location_type,parent_station,wheelchair_boarding,municipality,on_street,at_street
vehicle_type,,,,,,,,,,,,,,,,,,
0.0,163,159,163,163,6,163,163,163,163,0,163,163,163,163,163,163,0,0
1.0,114,106,114,114,30,114,114,114,114,0,114,114,114,114,114,114,0,0

We can look at our data now!

In [6]:
mbta_stops = mbta_stops.sort_values("stop_id")
mbta_stops

,stop_id,stop_code,stop_name,stop_desc,platform_code,platform_name,stop_lat,stop_lon,zone_id,stop_address,stop_url,level_id,location_type,parent_station,wheelchair_boarding,municipality,on_street,at_street,vehicle_type
7468,170136,170136.0,Babcock Street,Babcock Street - Green Line - Park Street & North,NaN,Park Street & North,42.351538,-71.119553,RapidTransit,NaN,https://www.mbta.com/stops/place-babck,level_median,0,place-babck,1,Boston,NaN,NaN,0.0
7469,170137,170137.0,Babcock Street,Babcock Street - Green Line - (B) Boston College,NaN,Boston College,42.351695,-71.120257,RapidTransit,NaN,https://www.mbta.com/stops/place-babck,level_median,0,place-babck,1,Boston,NaN,NaN,0.0
7250,170140,170140.0,Amory Street,Amory Street - Green Line - Park Street & North,NaN,Park Street & North,42.350901,-71.114318,RapidTransit,NaN,https://www.mbta.com/stops/place-amory,level_median,0,place-amory,1,Boston,NaN,NaN,0.0
7251,170141,170141.0,Amory Street,Amory Street - Green Line - (B) Boston College,NaN,Boston College,42.351066,-71.115027,RapidTransit,NaN,https://www.mbta.com/stops/place-amory,level_median,0,place-amory,1,Boston,NaN,NaN,0.0
8095,70001,70001.0,Forest Hills,Forest Hills - Orange Line,NaN,Orange Line,42.300926,-71.114129,RapidTransit,NaN,https://www.mbta.com/stops/place-forhl,level_-1_orange_platform,0,place-forhl,1,Boston,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8159,Government Center-Brattle,NaN,Government Center,Government Center - Green Line - Loop Platform,NaN,Loop Platform,42.359705,-71.059215,RapidTransit,NaN,https://www.mbta.com/stops/place-gover,level_-1_green_platform,0,place-gover,1,Boston,NaN,NaN,0.0
8717,Oak Grove-01,NaN,Oak Grove,Oak Grove - Orange Line - Track 1,1,Track 1,42.437735,-71.070837,RapidTransit,NaN,https://www.mbta.com/stops/place-ogmnl,level_0_platform,0,place-ogmnl,1,Malden,NaN,NaN,1.0
8718,Oak Grove-02,NaN,Oak Grove,Oak Grove - Orange Line - Track 2,2,Track 2,42.437727,-71.070905,RapidTransit,NaN,https://www.mbta.com/stops/place-ogmnl,level_0_platform,0,place-ogmnl,1,Malden,NaN,NaN,1.0
9493,Union Square-01,NaN,Union Square,Union Square - Green Line - Track 1,1,Track 1,42.377024,-71.093964,RapidTransit,NaN,https://www.mbta.com/stops/place-unsqu,level_ground,0,place-unsqu,1,Somerville,NaN,NaN,0.0
9494,Union Square-02,NaN,Union Square,Union Square - Green Line - Track 2,2,Track 2,42.376990,-71.093993,RapidTransit,NaN,https://www.mbta.com/stops/place-unsqu,level_ground,0,place-unsqu,1,Somerville,NaN,NaN,0.0

So stop_id is string means that it is a random repeat, lets remove them

In [10]:
# test below
mbta_stops[mbta_stops["stop_name"] == "Park Street"]

,stop_id,stop_code,stop_name,stop_desc,platform_code,platform_name,stop_lat,stop_lon,zone_id,stop_address,stop_url,level_id,location_type,parent_station,wheelchair_boarding,municipality,on_street,at_street,vehicle_type
8786,70075,70075.0,Park Street,Park Street - Red Line - Ashmont/Braintree,NaN,Ashmont/Braintree,42.356395,-71.062424,RapidTransit,NaN,https://www.mbta.com/stops/place-pktrm,level_-2_red_platform,0,place-pktrm,1,Boston,NaN,NaN,1.0
8787,70076,70076.0,Park Street,Park Street - Red Line - Alewife,NaN,Alewife,42.356395,-71.062424,RapidTransit,NaN,https://www.mbta.com/stops/place-pktrm,level_-2_red_platform,0,place-pktrm,1,Boston,NaN,NaN,1.0
8788,70196,70196.0,Park Street,Park Street - Green Line - (B) Boston College,B,Boston College,42.356395,-71.062424,RapidTransit,NaN,https://www.mbta.com/stops/place-pktrm,level_-1_green_platform,0,place-pktrm,1,Boston,NaN,NaN,0.0
8789,70197,70197.0,Park Street,Park Street - Green Line - (C) Cleveland Circle,C,Cleveland Circle,42.356395,-71.062424,RapidTransit,NaN,https://www.mbta.com/stops/place-pktrm,level_-1_green_platform,0,place-pktrm,1,Boston,NaN,NaN,0.0
8790,70198,70198.0,Park Street,Park Street - Green Line - (D) Riverside,D,Riverside,42.356395,-71.062424,RapidTransit,NaN,https://www.mbta.com/stops/place-pktrm,level_-1_green_platform,0,place-pktrm,1,Boston,NaN,NaN,0.0
8791,70199,70199.0,Park Street,Park Street - Green Line - (E) Heath Street,E,Heath Street,42.356395,-71.062424,RapidTransit,NaN,https://www.mbta.com/stops/place-pktrm,level_-1_green_platform,0,place-pktrm,1,Boston,NaN,NaN,0.0
8792,70200,70200.0,Park Street,Park Street - Green Line - Government Center &...,NaN,Government Center & North,42.356395,-71.062424,RapidTransit,NaN,https://www.mbta.com/stops/place-pktrm,level_-1_green_platform,0,place-pktrm,1,Boston,NaN,NaN,0.0
8793,71199,NaN,Park Street,Park Street - Green Line - Drop-off Only,NaN,Drop-off Only,42.356395,-71.062424,RapidTransit,NaN,https://www.mbta.com/stops/place-pktrm,level_-1_green_platform,0,place-pktrm,1,Boston,NaN,NaN,0.0

In [9]:
mbta_stops[mbta_stops["stop_name"] == "Union Square"]["stop_id"]

9491              70503
9492              70504
9493    Union Square-01
9494    Union Square-02
Name: stop_id, dtype: object

In [ ]:
type(mbta_stops[mbta_stops["stop_name"] == "Union Square"]["stop_id"])

# Creating the Graph (NOT DONE YET)

Now we can use networkx package to create graph objects. We will be using the graph object to create calculations. We will create a simple graph for now.

First, we make simple function to turn lists of strings into int.

In [ ]:
def to_int(l):
    """
    Simple function that takes in a list of strings and returns a string of integers
    """
    return [int(i) for i in l]

## WIP FOR BOSTON

https://www.mbta.com/schedules/subway

We only want lines Red, Mattapan, Orange, Blue, Green BCDE

In [ ]:
# mark

In [ ]:
# rueben

In [ ]:
# willie

In [ ]:
# bowen

In [ ]:
# Creating our graph
rail_network = nx.Graph()

# Node List
# Get all stop IDs and put in list
NL = stops["stop_id"].tolist()
# Cast all IDs to int type
NL = [int(i) for i in NL]
# Add node list NL as nodes to our graph
rail_network.add_nodes_from(NL)

# Edges List
# Empty list
EL = []
# Loop through our sorted stops
for i in range(len(stops)-1):
    # Grab the IDs of each stop and consecutive stop
    stop_id_1 = int(stops["stop_id"].iloc[[i]])
    stop_id_2 = int(stops["stop_id"].iloc[[i+1]])
    
    # Append the stop tuple if they are next to each other on the line
    if stop_id_1+1 == stop_id_2:
        EL.append((stop_id_1, stop_id_2))
        
# We find the intersection stops

# Append the intersection stops

# Add edge list to graph

# Visualization Time!

Let's see what our graph looks like.

In [ ]:
# Set figure size
fig = plt.figure(figsize = (10,10))
# We use Kamada-Kawai positioning algorithm to plot the nodes of the graph
nx.draw_kamada_kawai(rail_network, with_labels=True, node_size=100)

In [ ]:
'''
I try to draw each line by itself, but it isnt really working... WIP i guess


fig = plt.figure(figsize = (10,10))

for i in range(7):
    plt.subplot(7,1,i+1)
    nodes = [j for j in NL if str(j)[0:3] == f"80{i+1}"]
    print(nodes)
    nx.draw_kamada_kawai(train_network, nodelist = nodes, with_labels=True, node_size=100)
    plt.xlabel(f"Line {i+1}")

plt.show()
'''

# Analysis of Simple Graph

We can proceed to do some simple mathematical analysis such as centrality and modularity on our graph.

We use Katz centrality in this case:

In [ ]:
nx.katz_centrality(rail_network, max_iter = 1000)

We can also see how modular our network is so far:

In [ ]:
# Make list of stop IDs
stop_id_list = stops["stop_id"].tolist()
stop_id_list = to_int(stop_id_list)

# Make groups of IDs for each route
# Let us use a function
def route_id(i, station_list = stop_id_list):
    """
    Function that returns list of ID's given input route ID number
    """
    return [j for j in station_list if str(j)[0:3] == f"80{i}"]

# Create groups for each of our routes
route_A = route_id(1)
route_B = route_id(2)
route_C = route_id(3)
route_E = route_id(4)
route_K = route_id(7)
route_D = route_id(5)

# A list of all our groups!
route_groups = [route_A, route_B, route_C, route_E, route_K, route_D]

In [ ]:
# Using our networkx function
nx.community.modularity(rail_network, route_groups)

Our graph is really quite modular. This means that rail lines do not intersect with each other all that often in LA.

# Future Work:

We will be scraping websites and using API calls to get the needed real time and historical data for the LA rail lines to understand the congestion and how the dynamics of the network changes throughout time. We can even look at holiday rushes etc. We also plan on creating a geographical visualization and visualizing this network and ridership. We will be implementing our findings into an easy to use web app.